.opl_repl {
    position: relative;
    text-align: center;
    width: 95%;
    height: 85vh;
}

h1 {
    position: relative;
    text-align: center;
}

h4{
    position: relative;
    text-align: center;
}

.opal{
    position: relative;
    width: 80vw;
    left: 10vw;
}