{% extends "./layout.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='DLL.css') }}">
{% endblock %}
{% block content %}
    <div class='Projects'>
        <h1>Doubly Linked List</h1>
        <div class="d-flex flex-row justify-content-center">
            <ul>
                <li>To see the source code:
                    <ul>
                        <li>Select the "files" icon in the top left portion of the replit window.
                            Expand the "Double Linked List" and "src" folders, and then open the IUDoubleLinkedList.java
                            file.
                        </li>
                        <li>Or, see it on Github <a href="https://github.com/mckerracher/Doubly-Linked-List">here</a>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <iframe class="repl" src="https://replit.com/@JoshuaMcKerrach/Doubly-Linked-List?lite=false"/>
    </div>
{% endblock content %}