{% extends "./layout.html" %}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='leetcode.css') }}">
{% endblock %}
{% block content %}
<div class='Projects'>

    <div class="card text-center">
        <div class="card-header text-white bg-primary">
            LeetCode Problem:
        </div>
        <div class="card-body text-white bg-dark">
            <h1 class="card-title">Contains Duplicate</h1>
            <img class="card-img-top" src="static/images/contains_duplicate.png" alt="Card image cap">
            <h4>--------</h4>
            <h5 class="card-text">The strategy for this problem was to use a hashmap data structure to save each number
            seen with the index it was seen at. With the hashmap, the solution is straightforward: iterate through nums,
            and for each number check if it's in the hashmap. If the number isn't in the hashmap, then it's added. If the
            number is in the hashmap, a duplicate has been found, in which case the function returns true. If the function
            finishes running without returning true, a duplicate was not found, and so it returns false.</h5>
            <h4>--------</h4>
            <a href="https://leetcode.com/problems/contains-duplicate/" target="_blank" class="btn btn-primary">LeetCode Problem</a>
            <a href="https://github.com/mckerracher/leetcode_practice/blob/master/contains_duplicate.py" target="_blank" class="btn btn-warning">My Solution</a>
            <h4>--------</h4>
            <img src="static/images/contains_duplicate_sol.png" alt="contains duplicate solution">
            <h4>--------</h4>
            <h5 class="card-title">Solution space complexity: O(n)</h5>
            <h5 class="card-title">Solution time complexity: O(n)</h5>
        </div>
    </div>

</div>
{% endblock content %}