{% extends "./layout.html" %}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='leetcode.css') }}">
{% endblock %}
{% block content %}
<div class='Projects'>

    <div class="card text-center">
        <div class="card-header text-white bg-primary">
            LeetCode Problem:
        </div>
        <div class="card-body text-white bg-dark">
            <h1 class="card-title">Valid Anagram</h1>
            <img class="card-img-top" src="static/images/valid_anagram.png" alt="Card image cap">
            <h4>--------</h4>
            <h4 class="card-title">To view my solution on this page, go to the top left corner of the replit (below)
                and click the file icon and select the correct file.</h4>
            <h4>--------</h4>
            <h5 class="card-text">The strategy for this problem was to use a hashmap data structure to save the number
                of times each letter occurs in each word. Each word gets its own hashmap. The logic is fairly straightforward.
                First, if the length of each word doesn't match, they can't be anagrams. If their lengths are equal, iterate
            through each word, counting and saving the number of times each letter occurs. Finally, iterate through the
            hashmaps, checking that for each key (each letter), the corresponding number (occurrence count) matches. If they
            don't match, return false. Otherwise, the function returns true.</h5>
            <h4>--------</h4>
            <a href="https://leetcode.com/problems/valid-anagram/" target="_blank" class="btn btn-primary">LeetCode Problem</a>
            <a href="https://github.com/mckerracher/leetcode_practice/blob/master/valid_anagram.py" target="_blank" class="btn btn-warning">My Solution</a>
            <h5 class="card-title">Solution space complexity: O(n)</h5>
            <h5 class="card-title">Solution time complexity: O(n)</h5>
        </div>
    </div>


    <iframe class="_repl" src="https://replit.com/@JoshuaMcKerrach/leetcodepractice?lite=true"/>

</div>
{% endblock content %}