{% extends "./layout.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='opal.css') }}">
{% endblock %}
{% block content %}
    <div class='Projects'>
            <h1>OPaL - OSU Programming Language Compiler</h1>
            <div class="d-flex flex-row justify-content-center">
                <ol>
                    <li>To execute the makefile, hit the run button.</li>
                    <li>To compile a program written in OPaL, click on the "shell" tab
                        below and execute the following:
                        <ul>
                            <li>export LD_LIBRARY_PATH=build</li>
                            <li>build/opal --debug --output=output/PaperScissorsRock.bin input/PaperScissorsRock.opl
                            </li>
                        </ul>
                    </li>
                    <li>To run the program you just compiled, execute the following command:
                        <ul>
                            <li>./output/PaperScissorsRock.bin</li>
                        </ul>
                    </li>
                    <li>To see a report on the compiler's last run, execute the following commands:
                        <ul>
                            <li>cd report</li>
                            <li>firefox oc_report.html</li>
                        </ul>
                    </li>
                    <li>To see the source code, that's best viewed on Github <a
                            href="https://github.com/mckerracher/OPaL">here</a>. Most of the important
                        code is in the "src" directory.
                    </li>
                </ol>
            </div>
        <iframe class="opl_repl" src="https://replit.com/@JoshuaMcKerrach/OPaL?lite=true\\"/>

    </div>
{% endblock content %}